body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  
}

.d{
  text-align: center;
}
.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fdfdfd98;
}

section {
  height: 100vh;
  padding: 1rem;
}
 
#section1 {
  background-image: url('https://sun9-9.userapi.com/impg/w5CcnZO2uUebKprNLwSG1Nywf_PmxFxUGM6XZA/VnvXMBT_V2g.jpg?size=1920x1080&quality=96&sign=412dbb80884f6febaceeb6a0f7e4b234&type=album');
  background-size: cover;
  background-attachment: scroll;
  margin: 0;
  padding: 0;
  
  div {
    position:absolute;
	 left: 400px;;
	 top: 100px;;
  }
}
 
#section2 {
  background-color: #ddd;
  width: 100%;
  background-size: cover;
}
 
#section3 {
  background-color: #ddd;
  width: 100%;
  
}
